body {
  font-size: 12px;
}

/* テーブル */
table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}
table.item-table th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #fff;
}
table.item-table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}
/* ボタン */
.btn a {
  text-decoration: none;
  color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin: 10px;
}